<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code 2</th>
      <th scope="col">Code 3</th>
      <th scope="col">Capital</th>
      <th scope="col">Region</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td>{{ country.name }}</td>
      <td>{{ country.code2 }}</td>
      <td>{{ country.code3 }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.region }}</td>
    </tr>
  </tbody>
</table>
