<form>

  <!-- First name -->
  <div class="form-group">
    <label  for="firstNameInput">First Name</label>
    <input  type="text"
            class="form-control"
            id="firstNameInput"
            placeholder="Enter first name">

  </div>
  <!-- /First name -->

  <!-- Last name -->
  <div class="form-group">
    <label  for="lastNameInput">Last Name</label>
    <input  type="text"
            class="form-control"
            id="lastNameInput"
            placeholder="Enter last name">

  </div>

  <!-- /Last name -->

  <!-- is experienced -->
  <div class="form-group form-check">
    <input class="form-check-input"  type="checkbox">
    <label class="form-check-label">I have experience > 2 yrs </label>
  </div>
  <!-- /is experienced -->

  <!-- Angular preference -->
  <div class="form-group">
    <label class="font-weight-bold">Angular Preferene</label>
    <div class="form-check">
      <!-- An input is missing here -->
      <label class="form-check-label" for="angularjs">angularJs</label>
    </div>

    <div class="form-check">
      <!-- An input is missing here -->
      <label class="form-check-label" for="angular">angular</label>
    </div>

  </div>
  <!-- /Angular preferene -->

  <!-- Favourite language -->
  <div class="form-group">
    <label class="form-control-label">Favourite Language</label>
    <!-- A select control is missing here -->
  </div>
  <!-- /Favourite language -->

  <!-- JS Version -->
  <div class="form-group">
    <label>JS Version</label>
    <input class="form-control" type="text">

  </div>
  <!-- /JS Version -->

  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
