<form #form="ngForm" (submit)="submitForm(form)">

  <!-- First name -->
  <div class="form-group">
    <label  for="firstNameInput">First Name</label>
    <input  type="text"
            class="form-control"
            id="firstNameInput"
            placeholder="Enter first name"
            minlength="3"
            required
            (ngModelChange)="capitalize($event)"
            name="firstName"
            #firstName='ngModel'
            [ngModel]="model.firstName">

    <div *ngIf="firstName.invalid && firstName.dirty" class="text-danger">
      Field is required
    </div>
  </div>
  <!-- /First name -->

  <!-- Last name -->
  <div class="form-group">
    <label  for="lastNameInput">Last Name</label>
    <input  type="text"
            class="form-control"
            id="lastNameInput"
            placeholder="Enter last name"
            required
            name="lastName"
            #lastName='ngModel'
            [(ngModel)]="model.lastName">
    <div *ngIf="lastName.invalid && lastName.dirty" class="text-danger">
      Field is required
    </div>
  </div>

  <!-- /Last name -->

  <!-- is experienced -->
  <div class="form-group form-check">
    <input  class="form-check-input"
            type="checkbox"
            name="isExperienced"
            required
            #isExperienced='ngModel'
            [(ngModel)]="model.isExperienced">
    <label class="form-check-label">I have experience > 2 yrs </label>
  </div>
  <!-- /is experienced -->

  <!-- Angular preference -->
  <div class="form-group">
    <label class="font-weight-bold">Angular Preference</label>
    <div class="form-check">
      <input  class="form-check-input"
              type="radio"
              value="1"
              id="angularjs"
              required
              name='angular'
              #angular='ngModel'
              [(ngModel)]="model.angular">
      <label class="form-check-label" for="angularjs">angularJs</label>
    </div>

    <div class="form-check">
      <input  class="form-check-input"
              type="radio"
              value="2"
              id="angular"
              required
              name='angular'
              #angular='ngModel'
              [(ngModel)]="model.angular">
      <label class="form-check-label" for="angular">angular</label>
    </div>

    <div *ngIf="angular.invalid && angular.dirty" class="text-danger">
      Field is required
    </div>
  </div>
  <!-- /Angular preferene -->

  <!-- Favourite language -->
  <div class="form-group">
    <label class="form-control-label">Favourite Language</label>
    <select class="form-control"
            required
            #favouriteLanguage='ngModel'
            name="favouriteLanguage"
            [(ngModel)]="model.favouriteLanguage">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let lang of programmingLanguages" [ngValue]="lang">
        {{lang}}
      </option>
    </select>
    <div *ngIf="favouriteLanguage.invalid && favouriteLanguage.dirty" class="text-danger">
      Field is required
    </div>
  </div>
  <!-- /Favourite language -->

  <!-- JS Version -->
  <div class="form-group">
    <label>JS Version</label>
    <input  class="form-control"
            type="text"
            required
            [(ngModel)]="model.jsVersion"
            name="jsVersion"
            #jsVersion="ngModel">
    <div *ngIf="jsVersion.invalid && jsVersion.dirty" class="text-danger">
      Field is required
    </div>
  </div>
  <!-- /JS Version -->

  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
